@import '../variables';
@import '../functions';

/* media queries by size name,
   - sm="column"
   - md="row"
   - etc
----------------------------------------------- */
@each $size, $query in $fxMediaSizes {
  @media (unquote($query)) {
    @each $orientation in $fxMediaOrientation {
      .#{make-dash-name($size, $orientation, $fxMediaQueryClassesPrefix)} {
        flex-direction: $orientation !important;
      }
    }

    .#{make-dash-name(conceal, $size, $fxMediaQueryClassesPrefix)} {
      display: none !important;
    }
  }
}

/* media queries by device name,
   - mobile="column"
   - tablet="row"
   - etc.
   @DEPRECATED in favor of sm,md,lg, etc above
----------------------------------------------- */
@each $device, $query in $fxMediaDevices {
  @media (unquote($query)) {
    @each $orientation in $fxMediaOrientation {
      .#{make-dash-name($device, $orientation, $fxMediaQueryClassesPrefix)} {
        flex-direction: $orientation !important;
      }
    }

    .#{make-dash-name(conceal, $device, $fxMediaQueryClassesPrefix)} {
      display: none !important;
    }
  }
}
