@import '../variables';
@import '../functions';

/* media queries by size name,
   - sm="column"
   - md="row"
   - etc
----------------------------------------------- */
@each $size, $query in $fxMediaSizes {
  @media (unquote($query)) {
    @each $orientation in $fxMediaOrientation {
      [#{make-key-eq-val-name($size, $orientation, $fxMediaQueryAttrsPrefix)}] {
        flex-direction: $orientation !important;
      }
    }

    [#{$fxMediaQueryAttrsPrefix}conceal~="#{$size}"] {
      display: none !important;
    }
  }
}

/* media queries by device name,
   - mobile="column"
   - tablet="row"
   - etc.
   @DEPRECATED in favor of sm,md,lg, etc above
----------------------------------------------- */
@each $device, $query in $fxMediaDevices {
  @media (unquote($query)) {
    @each $orientation in $fxMediaOrientation {
      [#{make-key-eq-val-name($device, $orientation, $fxMediaQueryAttrsPrefix)}] {
        flex-direction: $orientation !important;
      }
    }

    [#{$fxMediaQueryAttrsPrefix}conceal~="#{$device}"] {
        display: none !important;
    }
  }
}
