@import '../variables';
@import '../functions';

/* main axis
----------------------------------------------- */
@each $key, $val in $fxJustifyContentMap {
  [#{make-key-eq-val-name(main-axis, $key, $fxAxisAttrsPrefix)}],
  [#{make-dash-name(main-axis, $key, $fxAxisAttrsPrefix)}] {
    justify-content: #{$val};
  }
}

/* cross axis
----------------------------------------------- */
@each $key, $val in $fxAlignItemsMap {
  [#{make-key-eq-val-name(cross-axis, $key, $fxAxisAttrsPrefix)}],
  [#{make-dash-name(cross-axis, $key, $fxAxisAttrsPrefix)}] {
    align-items: #{$val};
  }
}

/*  cross axis align
    TODO: dislike the name.
    NOTE: this does nothing if there is a
    single line of content in the container (spec)
----------------------------------------------- */
@each $key, $val in $fxAlignContentMap {
  [#{make-key-eq-val-name(cross-axis-align, $key, $fxAxisAttrsPrefix)}],
  [#{make-dash-name(cross-axis-align, $key, $fxAxisAttrsPrefix)}] {
    align-content: #{$val};
  }
}

/* self, for overriding the parent settings above
----------------------------------------------- */
@each $key, $val in $fxAlignItemsMap {
  [#{make-key-eq-val-name(self, $key, $fxAxisAttrsPrefix)}],
  [#{make-dash-name(self, $key, $fxAxisAttrsPrefix)}] {
    align-self: #{$val};
  }
}
