@import '../variables';
@import '../functions';

/* spacers
  - handy for quick prototyping
   -------------------------------- */
// NOTE: the spacers fit best in the realm of classes, they aren't very fitting as attrs.
// perhaps will drop the generation of this file? complications for building?
[#{$fxSpacersAttrsPrefix}pad-auto-sides] {
  padding:0 auto;
}
[#{$fxSpacersAttrsPrefix}mar-auto-sides] {
  margin:0 auto;
}
// TODO: decide if these should all be run through the em() fn
// TODO: flexible style as others:
// [pad="sm"],[pad-sm],[pad][sm]
@each $size in $fxSpacerSizes {
  [#{$fxSpacersAttrsPrefix}pad-#{first($size)}] {
    padding: second($size) (second($size) * 1.5);
  }
  [#{$fxSpacersAttrsPrefix}mar-#{first($size)}] {
    margin: second($size) (second($size) * 1.5);
  }
  @each $side in $fxSpacerSides {
    [#{$fxSpacersAttrsPrefix}pad-#{first($side)}-#{first($size)}] {
      padding-#{$side}: second($size) third($size);
    }
    [#{$fxSpacersAttrsPrefix}mar-#{first($side)}-#{first($size)}] {
      margin-#{$side}: second($size) third($size);
    }
  }
}
