@import '../variables';
@import '../functions';

/* spacers
  - handy for quick prototyping
   -------------------------------- */
.#{$fxSpacersClassesPrefix}pad-auto-sides {
  padding:0 auto;
}
.#{$fxSpacersClassesPrefix}mar-auto-sides {
  margin:0 auto;
}
// TODO: decide if these should all be run through the em() fn
@each $size in $fxSpacerSizes {
  .#{$fxSpacersClassesPrefix}pad-#{first($size)} {
    padding: second($size) (second($size) * 1.5);
  }
  .#{$fxSpacersClassesPrefix}mar-#{first($size)} {
    margin: second($size) (second($size) * 1.5);
  }
  @each $side in $fxSpacerSides {
    .#{$fxSpacersClassesPrefix}pad-#{first($side)}-#{first($size)} {
      padding-#{$side}: second($size) third($size);
    }
    .#{$fxSpacersClassesPrefix}mar-#{first($side)}-#{first($size)} {
      margin-#{$side}: second($size) third($size);
    }
  }
}
